Birdnet seems to use a particular DB format perch-hoplite. You can interact with it using standard sql libraries:

In [45]:
import sqlite3
db_path = 'data/train_embeddings_database/hoplite.sqlite' # Replace with the actual path
connection = sqlite3.connect(db_path)

In [46]:
cursor = connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('hoplite_sources',), ('sqlite_sequence',), ('hoplite_embeddings',), ('hoplite_metadata',), ('hoplite_labels',)]

In [47]:
import pandas as pd
embeddings = pd.read_sql_query("SELECT * from hoplite_embeddings", connection)
embeddings

        id  source_idx           offsets
0        1           1  b'\x00\x00\x00B'
1        2           1     b'\x00@\x00E'
2        3           1     b'\x00D\x00G'
3        4           2  b'\x00\x00\x00B'
4        5           2     b'\x00@\x00E'
...    ...         ...               ...
1335  1336         513     b'\x00@\x00E'
1336  1337         514  b'\x00\x00\x00B'
1337  1338         514     b'\x00@\x00E'
1338  1339         515  b'\x00\x00\x00B'
1339  1340         515     b'\x00@\x00E'

[1340 rows x 3 columns]

Or you can use google research's more specialized perch-hoplite. The commands I use here, particularly the initial import and db creation statements, are taken from snippets of Birdnet-Analyzer code. After that it seems pretty straightforward

In [ ]:
## pip install git+https://github.com/google-research/perch-hoplite.git
from perch_hoplite.db import interface as hoplite

In [ ]:
from perch_hoplite.db import sqlite_usearch_impl
db_path = 'data/train_embeddings_database/'
embedding_db = sqlite_usearch_impl.SQLiteUsearchDB.create(db_path)

        id  source_idx           offsets
0        1           1  b'\x00\x00\x00B'
1        2           1     b'\x00@\x00E'
2        3           1     b'\x00D\x00G'
3        4           2  b'\x00\x00\x00B'
4        5           2     b'\x00@\x00E'
...    ...         ...               ...
1335  1336         513     b'\x00@\x00E'
1336  1337         514  b'\x00\x00\x00B'
1337  1338         514     b'\x00@\x00E'
1338  1339         515  b'\x00\x00\x00B'
1339  1340         515     b'\x00@\x00E'

[1340 rows x 3 columns]

In [48]:
embedding_db.get_embedding_ids()

array([   1,    2,    3, ..., 1338, 1339, 1340])

In [49]:
embedding_db.get_embedding(1)

array([0.     , 0.9517 , 0.11847, ..., 0.4795 , 0.02275, 0.3196 ],
      dtype=float16)

In [53]:
embedding_db.get_embedding_source(1)

EmbeddingSource(dataset_name='birdnet_analyzer_dataset', source_id='//NAS/NAS-Files/Datasets/GCW_labeled_samples/Training_Data/Train/Positive\\Keitt_Positive\\A_Song\\S4A01514_20170310_094702_3081.wav', offsets=array([0., 3.], dtype=float16))